* {
    text-align: center;
}

h1 {
    margin: 10px;
    padding: 10px;
    font-size: 6vh;
}

body {
    background-color: orange;
    font-family: 'Roboto', sans-serif;
}

.navColor {
    background-color: rgb(236, 113, 13);
    color: white;
}

.navColor a {
    color: white;
}

.navbar-toggler-icon {
    color: white;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.dropdown-menu {
    background-color: rgb(233, 112, 14);
}

ul {
    list-style-type: none;
}