* {
    text-align: center;
}

h1 {
    margin: 10px;
    padding: 10px;
    font-size: 6vh;
}

body {
    background-color: orange;
    font-family: 'Roboto', sans-serif;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.project {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 300px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navColor {
    background-color: rgb(255, 115, 0);
    color: white;
}

.navColor a {
    color: white;
}

.navbar-toggler-icon {
    color: white;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.dropdown-menu {
    background-color: rgb(255, 115, 0);
}

ul {
    list-style-type: none;
}